$variable-columns: false;
@import '~bulma';
@import '~bulma/sass/utilities/initial-variables.sass';
.navbar-item img {
  max-height: 2.625rem;
}

h1 {
  font-size: $size-1;
}
h2 {
  font-size: $size-2;
}
h3 {
  font-size: $size-3;
}
.card {
  height: 100%;
}
