$variable-columns: false;
@import '~bulma';
@import '~bulma/sass/utilities/initial-variables.sass';
@import 'prism-okaidia.css';

@import url('https://fonts.googleapis.com/css?family=Nunito');
$body-family: 'Nunito', sans-serif;

body {
  --anchorLink: #222;
  --navbarBackground: whitesmoke;
  --navbarColor: #363636;
  --bg: #ffffff;
  --textColor: #222;
  --inlineCode-bg: #f0da4f33;
  --inlineCode-text: inherit;
  --boxShadow1: rgba(0, 0, 0, 0.13);
  --boxShadow2: rgba(0, 0, 0, 0.19);
  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --anchorLink: #f0da4f;
  --navbarBackground: #000008;
  --navbarColor: white;
  --bg: #000008;
  --textColor: white;
  --boxShadow1: rgba(249, 251, 82, 0.13);
  --boxShadow2: rgba(232, 248, 85, 0.19);
}
.content blockquote {
  background-color: var(--navbarBackground);
}
.content {
  font-family: $body-family;
  font-size: 20px;
}
.content h1,
.content h2,
.content h3,
.content li {
  color: var(--textColor);
}
p,
h1,
h2,
h3,
.label {
  color: var(--textColor);
}
a {
  color: var(--anchorLink);
}
.navbar {
  color: var(--navbarColor);
  background-color: var(--navbarBackground);
}
.footer {
  color: var(--navbarColor);
  background-color: var(--navbarBackground);
}
.navbar-menu.is-active {
  background-color: var(--navbarBackground);
}
.navbar-burger {
  color: var(--navbarColor);
}
.navbar-item img {
  max-height: 2.625rem;
}

h1 {
  font-size: $size-1;
}

h2 {
  font-size: $size-2;
}
h3 {
  font-size: $size-3;
}
.card {
  height: 100%;
}

.is-shady {
  animation: flyintoright 0.4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  border-radius: 4px;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.is-shady:hover {
  box-shadow: 0 10px 16px var(--boxShadow1), 0 6px 6px var(--boxShadow2);
}
.features {
  padding: 5rem 0;
}
.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.card-image > .fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}
.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
}
.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
}
.card {
  box-shadow: 0px 2px 4px var(--boxShadow2);
  margin-bottom: 2rem;
}

@media (max-width: 900px) {
  #postContent {
    width: 92%;
  }
}

@media (min-width: 900px) {
  #postContent {
    width: 50%;
  }
}

a.navbar-item:hover {
  color: unset;
}
